body{
  font-family: "Trebuchet MS", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background: url("../img/background.jpg") repeat;
}

html {
  scroll-behavior: smooth;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow: hidden;
}

.container1{
  width:80%;
  margin:auto;
  padding: 20px;
  overflow: hidden;
  display:flex;
  justify-content:space-between;
}

.responsive {
  width: 100%;
  height: auto;
}

ul{
  margin: 0;
  padding: 0;
}

/* Header */
header{
  position: relative;
  width:100%;
  background: #fc2a2a;
  color: #000000;
  padding-top: 30px;
  min-height: 70px;
  border-bottom:#000000 3px solid;
}

header a{
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px; /* top right bottom left */
}

header nav{
  float: right;
  margin-top: 10px;
}

header a:hover{
  color: #ffffff;
  font-weight: bold;
}

/* Showcase */
#showcase{
  min-height: 300px;
  background: url('../img/showcase.jpg') no-repeat 0 -200px;
  text-align: center;
  color: #ffffff;
}

#showcase h1{
  margin-top: 125px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p{
  font-size: 30px;
  margin-bottom: 125px;
}

#showcase .box {
  position: absolute;
  padding-bottom: 130px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#showcase .box span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
  margin:-10px;
  animation: animate 2s infinite;
}

#showcase .box span:nth-child(2) {
  animation-delay: -0.2s;
}

#showcase .box span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

/* About */
#about{
  padding: 15px;
  border-top: #888888 3px solid;
  background: url('../img/newbackground.svg') no-repeat 0 -175px;
  background-size: 150%;
  position: relative;
}

#about h1{
  font-size: 40px;
  text-align: center;
}

#about p{
  text-align: center;
  font-size: 18px;
}

#about a{
  color: #fc2a2a;
  text-decoration: none;
  font-size: 18px;
}

#about a:hover{
  color: #333333;
  font-weight: bold;
}

/* Projects */
#projects {
  padding:15px;
  border-top: #000000 3px solid;
}

#projects h1{
  font-size: 40px;
  text-align: center;
}

#projects .project{
  position: relative;
  flex-basis: 30%;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

}

#projects .project::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#projects .project:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

#projects .project:hover::after {
    opacity: 1;
}

#projects .project img {
  min-height: 300px;
  min-width: 300px;
  overflow: hidden;
  object-fit: cover;
}

#projects .project button{
  margin: auto;
  display: block;
  padding: 10px;
  background-color: #ffc0cb;
  border: #000000 2px solid;
  color: #000000;
  font-weight: bold;
  font-size: 12px;
}

#projects .project button:hover span{
  display: none;
}

#projects .project button:hover:before {
  content:"View Repository";
}

/* Contact */
#contact{
  padding: 15px;
  text-align: center;
  background: url('../img/newbackground.svg') repeat 0 -20px;
  background-size: auto;
  background-attachment: fixed;
  position: relative;
  border-top: #000000 3px solid;
}

#contact h1{
  font-size: 40px;
  text-align: center;
}

#contact p{
  font-size: 20px;
}

#contact a:hover{
  position:relative;
  top: 10px;
}

#contact img{
  width: 75px;
  padding:30px;
}

/* footer */
footer{
  padding: 15px;
  color: #000000;
  background-color: #fc2a2a;
  text-align: center;
  border-top: #000000 3px solid;
}

/* Media Queries */
@media(max-width:768px){
  header nav, header nav li, #contact{
    float: none;
    text-align: center;
    width: 100%;
  }

  .container1{
    display:block;
  }

  header {
    padding-bottom: 20px;
    width: 100%;
  }

  #showcase h1 {
    margin-top: 40px;
  }

  #showcase {
    min-height: 300px;
  }
}
